.macbook-air-1 {
  	width: 100%;
  	height: 5854px;
  	position: relative;
  	background-color: #fff;
  	overflow: hidden;
  	text-align: left;
  	font-size: 26px;
  	color: #000;
  	font-family: 'Fredericka the Great';
}
.macbook-air-1-child {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 1280px;
  	height: 832px;
}
.rectangle-parent {
  	position: absolute;
  	top: 42px;
  	left: 700px;
  	width: 413px;
  	height: 57px;
  	font-size: 32px;
  	color: #fff;
  	font-family: Dosis;
}
.group-child {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  	background-color: #2d2d2d;
  	width: 413px;
  	height: 57px;
}
.suganuma-tomoko {
  	position: absolute;
  	top: 9px;
  	left: 42px;
  	letter-spacing: 0.14em;
  	white-space: pre-wrap;
	color: gray;
	font-size: 50px;
}
.image-15-icon {
  	position: absolute;
  	top: 71px;
  	left: 178px;
  	width: 333px;
  	height: 317px;
  	object-fit: cover;
}
.art {
  	position: absolute;
  	top: 35px;
  	left: 329px;
  	letter-spacing: 0.04em;
  	display: inline-block;
  	width: 68px;
  	height: 34px;
}
.music {
  	position: absolute;
  	top: 176px;
  	left: 533px;
  	letter-spacing: 0.05em;
  	display: inline-block;
  	width: 76px;
  	height: 34px;
}
.presentation {
  	position: absolute;
  	top: 398px;
  	left: 430px;
  	letter-spacing: 0.05em;
  	display: inline-block;
  	width: 173px;
  	height: 33px;
}
.video-animation {
  	position: absolute;
  	top: 392px;
  	left: 135px;
  	letter-spacing: 0.05em;
  	line-height: 90%;
  	text-align: center;
  	display: inline-block;
  	width: 138px;
  	height: 49px;
}
.macbook-air-1-item {
  	position: absolute;
  	top: 176px;
  	left: 53px;
  	background-color: #ccc;
  	width: 108px;
  	height: 34px;
}
.design {
  	position: absolute;
  	top: 176px;
  	left: 40px;
  	letter-spacing: 0.05em;
  	line-height: 90%;
  	text-align: center;
  	display: inline-block;
  	width: 113px;
  	height: 22px;
}
.macbook-air-1-inner {
  	position: absolute;
  	top: 82px;
  	left: 209px;
  	width: 271px;
  	height: 295px;
}
.rectangle-div {
  	position: absolute;
  	top: 505px;
  	left: 59px;
  	background-color: #d9d9d9;
  	width: 623px;
  	height: 290px;
}
.icon {
  	position: absolute;
  	top: 29px;
  	left: 670px;
  	width: 575px;
  	height: 813px;
  	object-fit: cover;
}

